*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* start header */
.banner_header{
    padding-top: 30px;
}
.navbar-brand{
    font-size: 36px;
    font-weight: 700;
}
.navbar .navbar-brand {
    color: white;
}

.banner{
    background-image:linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
     url(https://demo.w3layouts.com/demos_new/template_demo/01-02-2021/diner-liberty-demo_Free/668605264/web/assets/images/banner1.jpg);
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed;
    min-height: 700px;
}
.banner_infor{
    max-width: 600px;
    margin-top: 100px;
    
}
.banner_infor h1{
    font-size: 54px;
    line-height: 64px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;

}
.banner_infor p{
    padding: 20 0 20 0;
    color: white;
    font-size: 16px;
}
.banner_infor button{
   background-color: rgba(255, 255, 255, 0);
border-color: white;
color: white;
padding: 12px 45px ;
border: 2px solid white;
border-radius: 5px;
transition: all 0.5s;
}
.banner_infor button:hover{
    background-color: white;
    color: #FF6600

}
/* end header */
/*  start content */
.content1{
    display: flex;
   padding: 100px 0;
    
}
.content_left{
    
    width: 30%;
}
.content_left h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}
.content_left h6{
    font-family: 'Pacifico', cursive;
    color: #ff6600;
}
.content_right{
   padding-left: 70px;
    width: 70%;
}
.content_right p {
 color: #161C2DB3;
 margin-top: 25px;
}
/* end content */
/*  agent block */
.agent_block{
   background-color: #FF6600;
}
.agent{
    display: flex;
    align-items: center !important;
}
.agent_img{
    background: url(https://demo.w3layouts.com/demos_new/template_demo/01-02-2021/diner-liberty-demo_Free/668605264/web/assets/images/banner3.jpg);
background-size: cover;
width: 100%;
height: 600px;
background-repeat: no-repeat;
background-position: center;
}
.right_top h6{
    color: white;
    font-family: 'Pacifico', cursive;
}
.right_top h1{
    font-weight: 700;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.right_bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    grid-gap: 30px;
}

.right_top p{
    color: white;
    font-family: 'Quicksand', sans-serif;
}
.right_bottom .icon{
    width: 70px ;
    height: 70px;
    margin-bottom: 15px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    color: #FF6600;
    transition: all 0.2s;
}
.right_bottom .icon:hover{
    color: #ffc59f;
}
.right_bottom i{
    
    font-size: 25px;
    line-height: 70px;
}
.right_bottom a {
    text-decoration: none;
    color: #000000;
    padding: 20px 0;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}
.agent_right{
    padding-left: 50px !important;
}

.right_bottom p{
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-top: 13px;
}

/* end agent block */
/* start categories */
.categories{
    background-color: #ecececb6;
    position: relative;
}

.categories .container{
    padding: 50px 0;
}
.categories_title{
    text-align: center;
    padding: 30px;
}
.categories_title h3{
    font-family: 'Pacifico', cursive;
    color: #ff6600;
}
.categories_title h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.categories_item img{
    width: 350px ;
    height: auto;
  
}
.categories_item .top {
    padding-bottom: 36px;
}
.slide_img{
    position: relative;
    
}

.slide_img::after{
    bottom: 0;
    left: 0;
    width: 97%;
    height: 40%;
    content: " ";
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);

}
.slide_img img:hover{
    opacity: 0.75;
    transition: all 0.5s;
}

.col-sm .slide-infor{
    position: absolute;
    bottom: 0;
    padding: 0 0 10px 30px;
    
}
.slide-infor a{
    color: white;
     text-decoration: none;
   
}
.slide-infor h6{
    color: yellow;
}


/* end categories */
/* start features */
.features .container{
    padding: 80px 0;
}
.row {
    padding-bottom: 26px;
}
.box-wrap-container{
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
}
.box-wrap-container:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.box-wrap{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    padding-bottom: 10px;
}

.box-wrap-container p {
    font-size: 18px;
    line-height: 28px;
    font-family: 'Quicksand', sans-serif;
    color: #161C2DB3;
}
.box-wrap span{
    font-size: 18px;
    line-height: 28px;
    font-family: 'Quicksand', sans-serif;
    color: #161C2DB3;
}
.box-wrap a{
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: #232121;
    transition: all 0.2s;
}
.box-wrap a:hover{
    color: #FF6600;
}
.box-wrap .icon{
    width: 70px;
    height: 70px;
    text-align: center;
    background: #9391a20d;
    line-height: 70px;
    border-radius: 5px ;
    transition: all 0.5s;
    color: #FF6600;
    
}
.box-wrap .icon:hover{
background: #FF6600;
color: white;
}


.box-wrap .icon i{
    font-size: 24px;
}

/* end features */